.foot_logo2 {
    width: 200px;
    height: 150px;
}
.col-sm-2 {
    margin-left: 8%;
    text-align: left;
}
.foot-policy {
    margin-left: 12%;
    margin-right: 12%;
}
.foot-container {
    text-align: center;
    padding: 5% 5%;
}
.foot-container p{
    padding-left: 15%;
    padding-right: 15%;
}
.foot-icons a {
    font-size: 25px;
    padding-left: 50px;
}
.foot-container a {
    text-decoration: none;
    text-align: left;
    transition: background-color 0.3s ease;
}
.foot-container hr{
    color: #fff;
    width: 80%;
    margin-left: 10%;
}
.container img {
    width: 150px;
}
.navbar-nav{
    margin-left: 60%;
    text-align: right;
}
.navbar-nav .nav-link:hover,
.foot-link:hover,
.bi:hover,.foot-icons a:hover,
.foot-policy a:hover {
    color: red !important; 
    text-decoration: none !important; 
}
.body-container button{
    width: 100px;
    border-radius: 50px;
}
.card {
    margin-top: 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end:  entry 400px; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

@keyframes fade-in {
    from {scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1;}
    
}
.firstpic {
    padding: 3% 3% 3% 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end:  entry 400px; 
}
.body-container {
    padding: 5%;
}

#mark1{
    border-radius: 4px;
}
#mark2 {
    border-radius: 4px;
}
h2{
    padding-top: 3%;
}

.event-ticket {
    padding: 0% 20% 10% 20%;
    cursor: pointer;
}
.add-to-cart-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.bx-cart {
    margin-right: 5px;
    font-size: 18px;
}
.modal-content form {
    text-align: center;
}
.modal .inputbox1 button{
    text-align: center;
}
.modal-content form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.modal-content form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}
.inputBox {
    position: relative;
    width: 100%;
    margin-top: 8px;
}
.inputBox span {
    position: absolute;
    left: 15px;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.box button {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    background-color: rgb(109, 209, 235);
    margin: 10px 0;
    outline: none;
    resize: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.12);
}
.inputbox1 button{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    background-color: rgb(199, 199, 199);
    margin: 10px 0;
    outline: none;
    resize: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.12);
}
.inputbox3 button{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    background-color: rgb(199, 199, 199);
    margin: 10px 0;
    outline: none;
    resize: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.12);
}
.inputbox3 img{
    width: 55px;
    margin-top: 14px;
    margin-right: 20px;
    margin-bottom: 14px;
    margin-left: -10px;
}
.inputbox1 img{
    width: 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: -10px;
}
.inputbox1 i{
    width: 50px;
}
.inputbox2 img{
    width: 38px;
    margin-top: 11px;
    margin-right: 20px;
    margin-bottom: 11px;
    margin-left:-10px;
}
.box .inputbox2{
    text-align: center;
}
.inputbox2 button{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: black;
    background-color: rgb(199, 199, 199);
    margin: 10px 0;
    outline: none;
    resize: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.12);
}
.inputBox input, .inputBox select {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1.5px solid #333;
    outline: none;
    resize: none;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.12);
}
.action-buttons {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 1000;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #28a745; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-btn.payment-btn {
    background-color: #FF0000; 
    margin-top: 10px;
}

.action-btn:hover {
    background-color: #218838; 
}
.action-btn.payment-btn:hover {
    background-color: #CC0000; 
}

.bx-cart {
    margin-right: 5px;
    font-size: 18px;
}
.bx-spreadsheet,
.bx-wallet {
    margin-right: 5px;
    font-size: 18px;
}
.modal-header {
    background-color: #007bff;
    color: #fff;
}

.modal-title {
    font-size: 1.5rem;
}

.nav-item {
    margin-right: 10px;
}
.nav-link.active {
    font-weight: bold;
}

.card-tab,
.gcash-tab {
    display: none;
}

.inputBox {
    margin-bottom: 10px;
}

.inputbox1 button {
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputbox1 button:hover {
    background-color: #0056b3;
}
.card-tab, .gcash-tab {
    padding-top: 3%;
}
.nav-item a{
    color: black;
}

.card .img-container {
    position: relative; 
}

.card .card-img-top {
    transition: opacity 0.3s ease;
    z-index: 1;
}
.default-img{
    position: absolute;
}
.hover-img {
    opacity: 0;
    z-index: 2; 
}
.card:hover .hover-img {
    opacity: 1;
}
.card:hover .default-img {
    opacity: 0;
}
.modal-body .card{
    width: 90%;
    margin-left: 5%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end:  entry 200px; 
}
.modal-body .card-body {
    padding-left: 5%;
}
#grad {
    background-image: linear-gradient(to left, #0047AB , #7DF9FF);
 }
 .navbar a{
    color: #fff;
 }
 .foot-container p{
    color: black;
 }
 .foot-container a{
    color: black !important;
 }